# Maven
target/
*.class
*.jar
*.war
*.ear
*.logs
.mvn/

# IDE
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# Mac
.DS_Store

# Logs
*.log
log/
logs/

# Test reports
test-output/
cucumber-reports/